@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing:content-box;
}

html,
body,
#__next {
  background-color: whitesmoke;
  background-size: cover;
}

#icon-eye {
  width   : 250px;
  margin  : auto;
  padding : 20px;
  overflow: auto;
  color   : white;
}
body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}